ul{
list-style-type: none;
margin: 0;
padding: 15px;
background-color: aqua;
}

li{
    display: inline;
    margin-right: 10px;
}
.gato-img{
    width: 100px;
    height: 100px;
}
.home{
    width: 30px;
    height: 30px;
}